<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Magical Summarizer</title>
    <link rel="stylesheet" href="./static/welcome.css">
</head>

<body>
        <div class="wizard-panel">
            <h1>Welcome to the Wizard</h1>
            <h2>The Summary Generator</h2>
            <p>Let this magical tool help you summarize your text in a flash!</p>
            <form action="/submit" method="POST">
                <button type="submit" name="username" class="custom-button">Get Started</button>
            </form>
        </div>
</body>

</html>
